[submodule "env/.config/nvim"]
    path = env/.config/nvim
    url = git@github.com:KacperMalachowski/nvim.git
[submodule "tmux-sessionizer"]
    path = tmux-sessionizer
    url = git@github.com:KacperMalachowski/tmux-sessionizer.git
[submodule "env/.config/.ai"]
	path = env/.config/.ai
	url = git@github.com:KacperMalachowski/.ai.git
